<div class= "jumbotron center">
	<h1>Phoebe Loves Pinterest</h1>
	<% if user_signed_in? %> 
	
	<p> Click there to <%= link_to "Create Pins", new_pin_path, class: "btn btn-primary"%></p>

	<% else %>

	<p>Click here to <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
		or <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %></p>
		<% end %> 
</div>
